@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    flex: 1;
}
.color {
    background-color: #004f9f;
    background-color: #662483;
    background-color: #ce1537;
    background-color: #f07e07;
    background-color: #f4c000;
    background-color: #3aaa35;
    background-color: #e0a448;
    background-color: #e9c999;
}
.logo {
    width: 80px;
}

.call-end-destacado {
    background-color: rgb(27, 164, 168);
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid rgb(10, 10, 10);
    animation: resaltar 1s infinite alternate;
}
.llamadoTurno {
    animation: resaltarTurno 0.8s infinite alternate;
}
.trivia{
    border-image: linear-gradient(to right, #97192f, #f4c000) 1;
}
.correcta {
    animation: resaltar 1s infinite alternate;
}
@keyframes resaltar {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02); /* Escala ligeramente el elemento */
    }
}
@keyframes resaltarTurno {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05); /* Escala ligeramente el elemento */
    }
}
.fondoMain {
    height: 'auto';
}
.nav {
    background-color: #59a0e7;
    height: '10%';
}
.active {
    color: aliceblue;
}
.ultimoLlamado {
    background-color: #004b81;
    margin-top: 5px;
    /* background: radial-gradient(circle,#f4c000,#f07e07); */
    border: 4px solid; /* Establece el grosor del borde */
    border-image: linear-gradient(to right, #97192f, #f4c000) 1;
}
.llamados {
    background-color: #38b2e6;
    opacity: 0.98;
    margin-top: 5px;
}
.text-shadow {
    text-shadow:
        1px 1px 2px black,
        -1px -1px 2px black,
        1px -1px 2px black,
        -1px 1px 2px black;
}
.text-shadow-llamado {
    text-shadow:
        1px 1px 2px white,
        -1px -1px 2px white,
        1px -1px 2px white,
        -1px 1px 2px white,
}
.menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .requisitos {
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
    }
    .cerrado {
        display: none;
        transform: translateY(-100%);
    }
    .abierto {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        transform: translateY(0);
    }
}
